<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whp.dao.UserDAO">
    <resultMap id="UserTag" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salary" property="salary"/>
        <collection property="tags" ofType="Tag">
            <id column="tag_id" property="tag_id"/>
            <result column="tag_name" property="tag_name"/>
        </collection>
    </resultMap>

    <select id="queryUser" resultType="User">
        select *
        from t_user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="queryAll" resultMap="UserTag">
        select *
        from t_user u
                 join t_user_tag ut
                      on u.id = ut.id
                 join t_tag t
                      on ut.tag_id = t.tag_id
    </select>
</mapper>